div.container {
  table.cart {
    margin: 0px;

    thead th {
      background: linear-gradient(#999999, #666666);

      text-shadow: 2px 2px 0 #487138;
      color: #82ca5d;
    }

    thead th, tbody td {
      text-align: center;
      vertical-align: middle;
    }

    tbody td {
      border-bottom: 1px dashed #999;
    }

    tbody tr:nth-child(even) {
      background: #EEE;
    }

    tfoot {
      tr {
        background: #444;
      }

      td {
        text-align: right;
        color: #FFF;
      }
    }
  }

  div#error_explanation {
    width: 400px;
    margin-top: 10px;
    border: 2px solid #E00;

    h3 {
      box-sizing: border-box;
      padding: 3px;
      color: #FFF;
      background: #F00;
      margin: 0px;
    }

    ul {
      margin: 0px;
    }
  }

  form.order {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 400px;

    fieldset {
      background: #EEE;
      border-radius: 10px;

      legend {
        text-shadow: 2px 2px 0 #487138;
        color: #82ca5d;
        font-size: 25px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 0px;
        padding: 5px;
        box-sizing: border-box;

        li:not(:first-of-type) {
          margin: 10px 0px 0px 0px;
        }

        li {
          label {
            display: block;
            font-weight: bold;
            font-size: 16px;
          }

          input {
            padding: 2px;
            outline: none;
          }

          input:focus {
            box-shadow: 0px 0px 5px #5f99b3;
          }

          input[type='submit'] {
            padding: 7px 16px;
            margin: auto;
            display: block;
          }

          select {
            width: 75%;
            padding: 2px;
            border-radius: 3px;
            outline: none;
          }

          select:focus {
            box-shadow: 0px 0px 5px #5f99b3;
          }
        }
      }
    }

    div.field_with_errors {
      color: #F00;
    }
  }
}