div.item {
  border: 1px solid #000;
  margin: 5px;
  display: inline-block;
  width: 200px;
  padding: 3px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  height: 250px;

  p {
    margin: 0px;
    padding: 0px;
  }

  p.image {
    text-align: center;
  }

  p.price {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    color: #F00;
    font-weight: bold;
  }
}

section.pages {
  height: 20px;
  text-align: center;
}