<div class="container">
  <form class="search" method="GET">
    <fieldset>
      <ul>
        <li>
          <label for="query">Query:</label>
          <input id="query" name="query" type="text" />
        </li>
        <li>
          <label for="category">Category:</label>
          <select id="category" name="category">
            <option value="all">All</option>
            <%= options_from_collection_for_select(@categories, 'id', 'name') %>
          </select>
        </li>
        <li class="bottom"><input id="sale" name="sale" type="checkbox" /> <label for="sale" class="check">On Sale</label></li>
        <li class="bottom"><button type="submit">Go</button></li>
      </ul>
    </fieldset>
  </form>
</div>