<%= render 'search' %>

<div class="container">
  <div class="products">
    <%= render @products %>
  </div>
  <section class="pages">
    <%= paginate @products %>
    <%= page_entries_info @products %>
  </section>
</div>